@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  max-width: 611.6px;
  margin: 0 auto;
  background-color: #292929;
  border-radius: 20px 20px 0 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20.56px 97.15px 20.56px 41.12px;
  gap: 41.12px;
}

.profimg {
  width: 102.79px;

  border-radius: 50%;
  display: block;
  background-color: red;
  border: 4px solid #000000;
}

.header-title {
  display: flex;
  justify-content: space-between;
  gap: 20.56px;
}

.full-name {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 41.12px;
  line-height: 42px;
  color: #ffffff;
}

.name {
  background: linear-gradient(90deg, #e0c3fc, #8ec5fc);
  background-clip: text;
  color: transparent;
}

.header-line {
  width: 11px;
  background-color: #ffffff;
}

.prof {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 41.12px;
  line-height: 42px;
  color: #ffffff;
}

.desin {
  background: linear-gradient(90deg, #fa709a, #fee140);
  background-clip: text;
  color: transparent;
}

section {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 30.84px;
  padding: 20.56px 38.03px 49.95px 41.12px;
}

.aside-title,
.article-title {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: regular;
  font-size: 20.56px;
  line-height: 100%;
  color: #ffffff;
  letter-spacing: 1px;
  margin-bottom: 10.24px;
}

.box {
  padding-top: 8.22px;
  padding-bottom: 5.14px;
}
.aside-p,
.article-text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 10.28px;
  line-height: 100%;
  font-weight: bold;

  /* letter-spacing: 1px; */
}

.aside-span {
  color: #ffffff;
  /* font-family: "Anton", sans-serif; */
  font-size: 10.28px;
  line-height: 100%;
}

.line {
  width: 100%;
  height: 8.22px;
  background-color: grey;
  margin-top: 8.22px;
  border-radius: 20px;
}

.colored {
  width: 95%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(90deg, #84fab0, #8fd3f4);
}

.colored2 {
  width: 75%;
}

.colored3 {
  width: 80%;
}

.colored4 {
  width: 90%;
}

.train-box {
  display: flex;
  gap: 5.16px;
  align-items: center;
}

.train {
  font-family: "Poppins", sans-serif;
  font-size: 20.56px;
  color: #ffffff;
  font-weight: bold;
}

article {
  padding: 20.56px;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 14.39px;
  margin-bottom: 20.56px;
}

.article-text {
  font-family: "Montserrat", sans-serif;
  /* margin-top: 20.56px; */
  line-height: 120%;
  font-weight: 500;
  /* letter-spacing: 1px; */
  padding-bottom: 5px;
  margin-bottom: 10.24px;
}

.circles {
  display: flex;
  gap: 16.45px;
  /* margin-top: 20.56px; */
}

.circle {
  width: 71.35px;
  height: 71.35px;
  border-radius: 50%;
  /* background-color: #ffffff; */
}

.circle-color {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 4px solid transparent;
  background: linear-gradient(#292929, #292929) padding-box,
    linear-gradient(90deg, #84fab0, #8fd3f4) border-box;

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.work {
  display: flex;
  flex-direction: column;
  padding-block: 20.56px;
}
